.remote {
    /*border-bottom: 1px #333 solid;
    padding-bottom: 1px;*/
    position: absolute;
    left: 100;
    top: 100;
    color: white;
    /* background-color: black; */
}

.floating {
    float: left;
/*    background-image: url('images/ui-icons_454545_256x240.png');*/
    background-image: url('images/doubleSize.png');
    width: 32px;
    height: 32px;
    overflow: hidden;
}

.leftRewind {
/*    background-image: url('images/1310837582_gtk-media-rewind-ltr.png');*/
    background-position: -160px -320px;
    /*overflow: hidden;*/
}

.leftStep {
    background-position: -96px -320px;
}

.rightStep {
    background-position: -64px -320px;
}

.rightRewind {
/*    background-image: url('images/1310837587_gtk-media-rewind-rtl.png');*/
    background-position: -128px -320px;
}

.middle {
    width: 16px;
    overflow: hidden;
}

.plus {
    background-image: url('images/single_size.png');
    background-position: -32px -128px;
    width: 16px;
    height: 16px;
}

.plus:hover {
    background-image: url('images/single_size_glow.png');
/*    background-color: #333;*/
}

.minus:hover {
    background-image: url('images/single_size_glow.png');
/*    background-color: #333;*/
}

.minus {
    background-image: url('images/single_size.png');
    background-position: -64px -128px;
    width: 16px;
    height: 16px;
}

.floating:hover {
/*    background-color: #333;*/
    background-image: url('images/doubleSize_glow.png');
}
